@model IEnumerable<FinalSchool.Models.Degree>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuarterlyDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheoreticalQuarterlyDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PracticalQuarterlyDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalyDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheoreticalFinalyDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PracticalFinalyDegree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterlyDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheoreticalQuarterlyDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticalQuarterlyDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalyDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheoreticalFinalyDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticalFinalyDegree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
